@using System.Globalization
@using LunchTime.Helpers
@model PersonalizedLunchMenu

<h2>
    <a href="@Model.Menu.Url" target="_blank">@Model.Menu.RestaurantName</a>
    @{
        if (!string.IsNullOrEmpty(Model.Menu.Web))
        {
            <a href="@Model.Menu.Web" target="_blank"> (web)</a>
        }
    }
    <a href="@MapUrlHelper.GetUrl(Model.Menu.Location)" target="_blank">
        <img src="~/Images/map_marker.svg" alt="Map marker" title="@(Model.Menu.DistanceFromOffice) meters away" class="map-marker">
    </a>
    <a class="js-bookmark bookmark-link @(Model.Bookmarked ? "bookmarked" : "")" data-id="@Model.Menu.Id"></a>
</h2>
@{
    var menu = Model.Menu.DailyMenus.OrderBy(x => x.Date).FirstOrDefault(m => m.Date.Date >= DateTime.Now.Date);
    if (menu != null)
    {
        <h4>@CultureInfo.CurrentUICulture.DateTimeFormat.GetDayName(menu.Date.DayOfWeek) (@menu.Date.ToShortDateString())</h4>
        <ul>
            @foreach (var soup in menu.Soups)
            {
                <li>@soup.Name.Replace("&nbsp;", " ").Replace("&amp;", "&")</li>
            }
        </ul>

        <ol>
            @foreach (var meal in menu.Meals)
            {
                <li>@meal.Name.Replace("&nbsp;", " ").Replace("&amp;", "&") @meal.Price</li>
            }
        </ol>
    }
}
