@{
	ViewBag.Title = "Home Page";
	var columnSize = 4;
	var itemsPerColumn = 12 / columnSize;
}
@using System.Globalization
@model LunchMenus

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<form>
		<div class="form-group">
			<select asp-for="@Model.SelectedCity" asp-items="@Model.Cities" class="city form-control">
				<option>Vyberte město...</option>
			</select>
		</div>
	</form>
</nav>
<div>Dnes je: <strong>@CultureInfo.CurrentUICulture.DateTimeFormat.GetDayName(DateTime.Today.DayOfWeek) (@DateTime.Today.ToShortDateString())</strong></div>

<x-restaurants>
	@for (var c = 0; c < Model.Menus.Count; c = c + itemsPerColumn)
	{
		for (var m = 0; m < itemsPerColumn && m + c < Model.Menus.Count; m++)
		{
			Html.RenderPartial("_Menu", Model.Menus[m + c]);
		}
	}
</x-restaurants>

@section scripts {
	<script src="~/js/lunchtime.js"></script>
	<script>
		  $(document).ready(function () {
				init(@Constants.BookmarkedCookieName.JsSerializeHtml(), @Constants.SelectedCityCookieName.JsSerializeHtml());
		  });
	</script>
}
